/* .headercolor{
    background-color: rgb(209, 209, 214);
    height: 50px;

} */


.logo {
    text-decoration: none;
}
.logoImage{
    width: 120px;
    height: 54px;
    color: white;
}


#searchbar{
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    outline: none;
    width: 230px;
    height: 30px;

}


#searchbtn{
    border: none;
    background-color: rgb(156,28,92);
    color: white;
    cursor: pointer;
    height: 30px;  
}

#searchbtn:hover {
    color: blue;
}


.profileDD{
    list-style: none;
}

.bellIcon {
    font-size: 16px;
    color: white;
}

.profileName{
    font-size: 16px;
    color: white;
}
