<div class="body">
    <div class="outerContainer">
      <div class="backpress">
        <div class="backpressbtn">
          <a
            [routerLink]="[
              '/fuel',
              {
                outlets: { metroCity: ['inventory'] }
              }
            ]"
          >
            <i class="fa-solid fa-circle-arrow-left"></i>
          </a>
        </div>
      </div>
      <div class="fw-bold text-secondary fs-5">Inventory</div>
      <div class="fw-bold text-secondary fs-5 w-100">
        <hr />
      </div>
  
      <div class="innerContainer">
          
      </div>
    </div>
  </div>
  
