.body{
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
}

.outerContainer{
    width: 100%;
    height: 500px;
    padding: 2px 5px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.backpressbtn{
    font-size: 35px;
}

a{
    text-decoration: none;
    color: rgb(156,28,92);
}

.innerContainer{
    padding-left: 5px;
    width: 100%;
    height: 100%;
}

.headingColor{
    color: rgb(156,28,92);
}

.addStorebtn{
    background-color: rgb(156,28,92);
    color: white;
    width: 150px;
    height: 35px;
    border-radius: 5px;
}

/* .StoreContainer{
    overflow-x: hidden;
    overflow-y: scroll;
} */

.TableheadingDiv{
    background-color: rgb(156,28,92);
    color: white;
    font-weight: 500;
}

.editbtn{
    width: 70px;
    height: 30px;
    background-color: rgb(255, 230 ,32);
    color: rgb(65, 65, 65);
    border-radius: 5px;
    border: 1px solid rgb(126, 125, 125);
}

.editbtn:hover {
    background-color: rgb(238, 214, 34);
}

.deletebtn{
    width: 70px;
    height: 30px;
    background-color: rgb(255, 69 ,58);
    color: rgb(65, 65, 65);
    border-radius: 5px;
    border: 1px solid rgb(126, 125, 125);
}

.deletebtn:hover {
    background-color: rgb(216, 61, 53);
}

.modelHeadingDiv{
    background-color: rgb(156,28,92);
    color: white;
    width: 160px;
    font-size: 15px;
    padding: 4px 5px;
}

.modalValueDiv{
    background-color: white;
    /* border: 2px solid rgb(156,28,92);
    width: 220px; */
    /* font-size: 15px; */
    /* padding: 4px 5px; */
}

.inputs{
    border: none;
    outline: none;
    background: transparent;
   
    height:30px;
    border: 2px solid rgb(156,28,92);
    padding: 4px 5px;
    border-radius: 0rem !important;
    font-size: 15px;
}
.dropdown-toggle::after {
    display:none;
  }