.body{
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
}

.outerContainer{
    width: 100%;
    height: 550px;
    padding: 2px 5px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.backpressbtn{
    font-size: 35px;
}

a{
    text-decoration: none;
    color: rgb(156,28,92);
}

.innerContainer{
    padding-left: 5px;
    width: 94%;
    height: 100%;
}

.headingColor{
    color: rgb(156,28,92);
}

.editbtn{
    width: 100px;
    height: 45px;
    border: none;
    border-radius: 5px;
}

.editbtn:hover {
    background-color: rgb(207, 206, 206);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.modelHeadingDiv{
    background-color: rgb(156,28,92);
    color: white;
    width: 160px;
    font-size: 15px;
    padding: 4px 5px;
}

.modalValueDiv{
    background-color: white;
    border: 2px solid rgb(156,28,92);
    width: 220px;
    font-size: 15px;
    padding: 4px 5px;
}

.inputs{
    border: none;
    outline: none;
    background: transparent;
    width: 100%;
}