<div class="body">
  <div class="outerContainer d-flex">
    <div class="backpress">
      <div class="">
        <a [routerLink]="['/fuel', { outlets: { metroCity: ['issuance'] } }]">
          <i class="fa-solid fa-circle-arrow-left backpressbtn"></i>
        </a>
      </div>
    </div>

    <div class="innerContainer">
      <div class="row">
        <!-- Petrol Request information Inputs -->
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12">
          <div class="d-flex align-items-center justify-content-center">
            <div class="petrolInputs">
              <!-- Barcode -->
              <div class="InputFields">
                <label for="vehicleNo" class="vl">Vehicle #</label>
                <div class="radioBtns d-flex align-items-center">
                  <div class="p-2">
                    <input
                      mdbRadio
                      class="form-check-input"
                      type="radio"
                      name="radioNoLabel"
                      id="radioNoLabel1"
                      value=""
                      aria-label="..."
                    />
                  </div>
                  <div class="vehicleNoDiv text-center">
                    <input
                      type="text"
                      placeholder=""
                      id="vehicleNo"
                      class="input"
                    />
                  </div>
                </div>
              </div>

              <!-- Registration number -->
              <div class="InputFields">
                <label for="driverName" class="vl">Driver Name</label>
                <div class="radioButtons d-flex align-items-center">
                  <div class="p-2">
                    <input
                      mdbRadio
                      class="form-check-input"
                      type="radio"
                      name="radioNoLabel"
                      id="radioNoLabel2"
                      value=""
                      aria-label="..."
                    />
                  </div>
                  <div class="driverNameDiv text-center">
                    <!-- dropdown -->

                    <div
                      ngbDropdown
                      class="nav-item dropdown"
                      style="height: 48px"
                    >
                      <a
                        class="nav-link dropdown-toggle d-flex justify-content-end w-100 align-items-center p-2"
                        href="#"
                        style="height: 48px"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="true"
                        ngbDropdownToggle
                      >
                      </a>
                      <ul class="dropdown-menu w-100" ngbDropdownMenu>
                        <li *ngFor="let m of months">
                          <a class="dropdown-item" href="#" ngbDropdownItem>{{
                            m
                          }}</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Demand -->
              <div class="InputFields">
                <label for="demand" class="dd">Demand</label>
                <div class="demandDiv text-center">
                  <input
                    type="text"
                    placeholder=""
                    id="demand"
                    class="w-75"
                    class="input"
                  />
                </div>
              </div>

              <!-- Request and Cancel Button -->
              <div class="buttonDiv row text-center">
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                  <button
                    class="ReqApprovalbtn"
                    data-bs-toggle="modal"
                    data-bs-target="#exampleModal"
                  >
                    Request Approval
                  </button>
                </div>
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                  <button class="cancelbtn">Cancel</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- details of the vehicle -->
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12">
          <div class="details">
            <div class="borderDiv">
              <div class="childDiv">Details</div>

              <div class="VehicleDetailsBox">
                <div class="VehicleDetails">Vehicle Number:</div>
                <hr class="hrline" />
                <div class="VehicleDetails">Department:</div>
                <hr class="hrline" />
                <div class="VehicleDetails">Driver:</div>
                <hr class="hrline" />
                <div class="VehicleDetails">Fuel Type:</div>
                <hr class="hrline" />
                <div class="VehicleDetails">Monthly Allowed Fuel:</div>
                <hr class="hrline" />
                <div class="VehicleDetails">Current Month Consumption:</div>
                <hr class="hrline" />
                <div class="VehicleDetails">Remaining:</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- modal -->
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <p>Vehicle Number... ABCP</p>
          <div class="mb d-flex align-items-center justify-content-center">
            <i class="fa-regular fa-circle-xmark text-danger"></i>
            <p class="not-found">Record Not Found</p>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            OK
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
