<div class="body">
    <div class="outerContainer">
        <div class="backpress">
            <div class="backpressbtn">
               <a [routerLink]="['/fuel',{
                outlets:{'metroCity':['settings']}
              }]">
                <i class="fa-solid fa-circle-arrow-left"></i>
               </a> 
            </div>
        </div>
        <div class="fw-bold text-secondary fs-5">
            Universal Settings
        </div>
        <div class="fw-bold text-secondary fs-5 w-100">
            <hr />
          </div>

          <div class="innerContainer">
             <!-- Select User -->
             <div class="my-4 d-flex justify-content-start">
                <div class="modelHeadingDiv text-start mx-2">User</div>
                <div class="modalValueDiv text-center mx-2">
                    <div ngbDropdown class="nav-item dropdown w-100">
                        <div class="users">
                        <a
                          class="nav-link dropdown-toggle d-flex justify-content-end w-100 align-items-center p-2"
                          href="#"
                          role="button"
                          data-bs-toggle="dropdown"
                          aria-expanded="true"
                          ngbDropdownToggle
                        >
                          
                        </a>
                        <ul class="dropdown-menu w-100" ngbDropdownMenu>
                          <li><a class="dropdown-item" href="#" ngbDropdownItem>admin</a></li>
                          <li><a class="dropdown-item" href="#" ngbDropdownItem>fuelBoy</a></li>
                        </ul>
                        </div>
                    </div>
                </div>
              </div>

              <!-- Check Boxes -->
              <div class="checkbox text-dark fs-5">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="dashboard" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        If Any Privilege is inactive for this user then ask for user/password of an eligible
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="issuance" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Can Switch Services Type of an Order
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="approval" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Can Create Custmer Profile
                    </label>
                  </div>
                  
                  

              </div>

              <!-- Save button -->
              <div class="d-flex justify-content-end">
                <button class="savebtn">Save</button>
              </div>
          </div>
    </div>
</div>