.body{
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    background-image: url("../../../../assets/img/issuancebgi.png");  
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.outerContainer{
    width: 100%;
    height: 500px;
    padding: 2px 5px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.backpress{
    display: inline-block;
    margin: 7px;
}

.backpressbtn{
    font-size: 35px;
    color: rgb(156,28,92);
}

a{
    text-decoration: none;
}

.innerContainer{
    width: 99%;
    
}


.tableHeadings{
    
    background-color: rgb(156,28,92);
    font-weight: 600;
    color:#fff;
}


.refuel{
    border:none;
    border-radius:5px;
    
}
.dropdown{
    height:48px;
}
/* model */
.modelHeadingDiv{
    background-color: rgb(156,28,92);
    color: white;
    width: 160px;
    font-size: 15px;
    padding: 4px 5px;
}

.modalValueDiv{
    background-color: white;
    border: 2px solid rgb(156,28,92);
    width: 220px;
    font-size: 15px;
    padding: 4px 5px;
}

.inputs{
    border: none;
    outline: none;
    background: transparent;
    width:100%;
}
/* modal */
.VehicleDetailsBox{
    margin: 40px;
}

.headingDiv{
    background-color: rgb(156,28,92);
    color: white;
    font-size: 15px;
    padding: 5px;
}

.valueDiv{
    background-color: white;
    border: 2px solid rgb(156,28,92);
    font-size: 15px;
    padding: 5px;
    color: rgb(113, 113, 113);
    font-size: 18px;
}


.months{
    width: 100%;
}

.donebtn{
    background-color: rgb(156,28,92);
    color: white;
    width: 100px;
    font-size: 15px;
    padding: 5px;
    border: none;
    border-radius: 5px;
}

.secondBox{
    margin: 20px 0;
}

.HistoryTableDiv{
    border: 1px solid rgb(228, 228, 228);
    background-color: white;
    border-radius: 5px;
    position: relative;
    height: 260px;
    padding: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.historyChildDiv{
    position: absolute;
    top: -14px;
    left: 60px;
    border: 1px solid rgb(179, 176, 176);
    padding: 0 20px;
    border-radius: 5px;
    background-color: rgb(156,28,92);
    color: white;
}

.modelHeadingDiv{
    background-color: rgb(156,28,92);
    color: white;
    width: 160px;
    font-size: 15px;
    padding: 4px 5px;
}

.modalValueDiv{
    background-color: white;
    border: 2px solid rgb(156,28,92);
    width: 220px;
    font-size: 15px;
    padding: 4px 5px;
}

.inputs{
    border: none;
    outline: none;
    background: transparent;
    width: 100%;
}
.demandDiv{
    color:black;
    cursor: pointer;
    font-weight: bold;
  }
  .accept{
    background: #b2ffc6;
    color:#000;

}
.change{
    background: #baeaff;
    color:#000;

}
.denied{
    background: #ff9595;
    color:#000;

}
 