.body{
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 20px;
    padding: 30px;
}

.outerContainer{
    width: 100%;
    height: 550px;
    padding: 2px 5px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.backpressbtn{
    font-size: 35px;
}

a{
    text-decoration: none;
    color: rgb(156,28,92);
}

.modelHeadingDiv{
    color: rgb(156,28,92);
    width: 100px;
    font-size: 20px;
    font-weight: 500;
}

.modalValueDiv{
    background-color: white;
    border: 1px solid rgb(141, 136, 139);
    border-radius: 3px;
    width: 220px;
    font-size: 15px;
    padding: 4px 5px;
}

.savebtn{
    width: 100px;
    height: 40px;
    background-color: rgb(10, 132,255);
    color: white;
    border-radius: 5px;
    border: none;
}

.savebtn:hover {
    background-color: rgb(2, 116, 255);
}



