<div class="body">
  <div class="outerContainer d-flex">
    <div class="backpress">
      <div class="backpressbtn">
        <a
          [routerLink]="[
            '/fuel',
            {
              outlets: { metroCity: ['inventory'] }
            }
          ]"
        >
          <i class="fa-solid fa-circle-arrow-left"></i>
        </a>
      </div>
    </div>
    
    <div class="innerContainer">
      
      <div class="fw-bold fs-4 headingColor">Purchase History</div>
      <div class="fw-bold text-secondary fs-5 w-100">
        <hr />
      </div>

      <div class="mainDiv d-flex justify-content-between">
        <div class="date">
            <form class="row row-cols-sm-auto">
                <div class="col-6">
                    <div class="input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd" name="dp"
                            [displayMonths]="fromdisplayMonths" [navigation]="fromnavigation"
                            [outsideDays]="fromoutsideDays" [showWeekNumbers]="fromshowWeekNumbers" ngbDatepicker
                            #from="ngbDatepicker" />
                        <button class="btn btn-outline-secondary " (click)="from.toggle()" type="button">
                            <i class="fa-regular fa-calendar-days"></i>
                        </button>
                    </div>
                </div>
                <div class="col-6">
                    <div class="input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd" name="dp"
                            [displayMonths]="todisplayMonths" [navigation]="tonavigation"
                            [outsideDays]="tooutsideDays" [showWeekNumbers]="toshowWeekNumbers" ngbDatepicker
                            #to="ngbDatepicker" />
                        <button class="btn btn-outline-secondary " (click)="to.toggle()" type="button">
                            <i class="fa-regular fa-calendar-days"></i>
                        </button>
                    </div>
                </div>
                <button class="addUserBtn generate me-2">
                    Generate
                </button>
            </form>
        </div>
        <div class="d-flex justify-content-end newPurchaseBtndiv">
            <button class="addUserBtn pdf me-2" >
                Pdf
            </button>

            <button class="addUserBtn excel me-2">
                Excel
            </button>
            <button class="addUserBtn print">
                Print
            </button>
        </div>
    </div>
    <div class="tableContainer" #report>
        <table class="table table-striped text-center">
            <thead>
                <tr class="tableHeadings">
                    <th scope="col-4">#</th>
                    <th scope="col-4">FUEL TYPE</th>
                    <th scope="col-4">QUANTITY</th>
                    <th scope="col-2">PRICE</th>
                    <th scope="col-2">RECIEVED DATE</th>
                    <th scope="col-2">INVOICE</th>
                    
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>
    </div>
    </div>
  </div>
</div>
