.body{
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
}

.mainContainer {
    width: 100%;
    height: 100%;
}

.boxContainer {
    margin-left: 2px; 
    margin-right: 2px;
    /* width: 100%; */
    
}

.aquaBox{
    width: 100%;
    height: 160px;
    border-radius: 15px;
    background:  rgba(130,202,232,1);
    margin: 5px;
    padding: 5px;
}

.pinkBox{
    width: 100%;
    height: 160px;
    border-radius: 15px;
    background:  rgba(233,136,136,1);
    margin: 5px;
    padding: 5px;
}

.greenBox{
    width: 100%;
    height: 160px;
    border-radius: 15px;
    background: rgba(138,234,165,1);
    margin: 5px;
    padding: 5px;
}

.voiletBox{
    width: 100%;
    height: 160px;
    border-radius: 15px;
    background: rgba(127,137,231,1);
    margin: 5px;
    padding: 5px;
}

.aquaBox:hover, .greenBox:hover, .pinkBox:hover, .voiletBox:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.petrolProgrssiveBar{
    display: flex;
    margin-left:25px;
}

.dieselProgrssiveBar{
    display: flex;
    margin-left:25px;
}

.chartContainer {
    margin-left: 2px; 
    margin-right: 2px;   
}



.petrolChartContainer, .dieselChartContainer {
    width: 100%;
    height: 350px;
    margin-top: 20px;
    background-color: #edeaea;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}


.nameDiv{
    background-color: rgb(156,28,92);
    color: white;
    padding: 5px;
}

.btnofChart {
    background-color: rgb(156,28,92);
    color: white;
    width: 100px;
    padding: 5px;
    margin: 5px;
    border: none;
    border-radius: 10px;
}


/* .outerBox{
    width: 320px;
    height: 320px;

} */

/* .textGrid{
    display: grid;
    height: 78%;
    align-content: end;
} */